html, * {
    font-family: helvetica;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Helvetica;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vmin 1fr 20vmin;
    grid-template-areas: 
        "hdr"
        "main"
        "ftr";
}

nav {
    grid-area: hdr;
    display: flex;
    background-color: #D33A2C;
    height: 50vh;
    justify-content: space-between;
    
}

button {
    background-color: #D33A2C;
    border: 3px solid #ffffff;
    border-radius: 20%;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    margin: 20px;
    height: 40px;
    width: 80px;
}

.mainLogo img {
    margin: 20px;
    height: 75px;
    
}




